/* Importing Google fonts - Open Sans, Kalni */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

/* Global styles */

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;}

body, html {
	background-image: url('../images/background_image.jpg'); /* Correct the path if necessary */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 107vh; /* Don't change */
    overflow: hidden;
	text-shadow: 2px 2px 3px black;
}
	

/* Navbar styles */
.navbar.navbar-expand-lg {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 50px;
	width: 100%;
    box-sizing: border-box;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;}

/* Style the dropdown button */
.dropbtn {
	border-radius: 50px;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	border-radius: 50px;}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	top: 100%;
	left: 0;
	position:absolute;
	min-width: 140px;
	border-radius: 50px;
	z-index: 1;}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 50px;
	text-align: left;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	border-radius: 50px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	border-radius: 50px;}

/* Show the dropdown button with a background color on hover */
.dropdown:hover .dropbtn {
	background-color: #A020F0;}

/* Style for the logo image */
.logo img {
	max-height: 70px;
    max-width: 200px;
}

.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	list-style: none;
    margin: 0;
}

.navbar li {
	display: inline-block;
	margin-right: 10px;}

/* Adjusts the last nav item to remove extra margin */
.navbar li:last-child {
	margin-right: 0;}

/* Link styles */
.navbar li a {
	color: rgb(248, 248, 248);
	padding: 14px 16px;
	text-decoration: none;
	text-shadow: 2px 2px 3px black;
}

/* Hover effect for links */
.navbar li a:hover {
	color: #b1adad;}



/* Styles for the side-scrolling sections */
.side-scroll {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: calc(100% - 50px);}
	
/* Override for the text block to allow normal wrapping */
.side-scroll .float-cities, .inverted-arch, .mirror-city {
    white-space: normal;
}


/* Section styles */
.section {
	display: inline-block;
	width: 2000px;
	height: 100%;
	padding: 20px;
	/* box-sizing: border-box; */
	vertical-align: top;
	position: relative;
	overflow: hidden;}

	/* Styles for sections */

.section-2, .section-3, .section-4 {
    position: relative; /* Needed for absolute positioning of child elements */
    padding: 20px;
	display: inline-block;
	width: 2200px;
	height: 100%;
	padding: 20px;
	/* box-sizing: border-box; */
	vertical-align: top;
	position: relative;
	overflow: hidden;
}

/* Styles for Circle */

.container-fluid {
	position: relative;
    min-height: 200px; /* Adjust this value based on the height of your navbar */
}


.circle {
	position: absolute;
	top: 200px;
	right: 50px;
	width: 500px;
	height: 500px;
	background-color: #04fff2; /* Bootstrap primary color */
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 20px;
}

.circle-text {
	text-align: center;
	font-size: 75px;
}

.circle-text span {
	display: block;
	/* This will stack the words vertically */
    transition: background-color 0.3s ease;
}

/* Upper left corner styling */
.float-cities h2 {
    position: absolute;
    top: 125px;
    left: -10px;
	font-size: 50px;
	line-height: 2.0; /* Adjust line spacing */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

.float-cities p {
    position: absolute;
    top: 225px;
    left: -10px;
	font-size: 18px;
	line-height: 2.0; /* Adjust line spacing */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Lower right corner styling */
.mirror-city {
    position: absolute;
    bottom: 250px;
    right: 0px;
	left: 1300px;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}
.inverted-arch {
	position: absolute;
    bottom: 250px;
    right: 0px;
	left: 2%;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */}

/* Title and paragraph specific styles */
.display-4, h2, .lead, p {
    margin: 0;
    padding: 5px;
    color: #ffffff; /* Adjust text color as needed */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Additional styling for titles */
.display-4, h2 {
    font-size: 1.5rem; /* Adjust title size as needed */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Additional styling for paragraphs */
.lead, p {
    font-size: 1rem; /* Adjust paragraph size as needed */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}


/* Exihibition Sections */

#Exhibit-A {
	background: none;
}
	
.image-container-1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.image-container-1 img{
	max-width: 100%;
	width: auto;
	height: auto; /* Maintain aspect ratio */
	padding-top: 300px;
	padding-left: 300px;
	padding-bottom: 100px;
}

@keyframes slideImage {
	0% {
		transform: translate(0, 10%); /* Start at the original position */
	}
	50% {
		transform: translate(-25%, 25%); /* Move to the left and down */
	}
	100% {
		transform: translate(0, 10%); /* Return to the original position */
	}
}
	
.animated-image {
	animation: slideImage 45s ease-in-out infinite; /* Adjust the timing as needed */
}
	
.image-container-2 {
    position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-left: 1400px;
	padding-top: 300px;
}
.image-container-2 img{
	max-width: 100%;
	padding-top: 20px;
	width: 100%;
	height: 100%; /* Maintain aspect ratio */
}

.image-container-6 {
	max-width: 100%;
	padding-left: 500px;
	padding-top: 20px;
	padding-bottom: 0px;
	width: auto;
	height: auto; /* Maintain aspect ratio */
}

.image-container-6 img{
	max-width: 100%;
	width: auto;
	height: auto; /* Maintain aspect ratio */
}
   
#Exhibit-B {
	background: none;
}

.image-container-3 {
	position: absolute;
	top: 15%;
	right: 0;
	z-index: 1;
}

.image-container-3 img{
	max-width: 100%;
	width: auto;
	height: auto; /* Maintain aspect ratio */
	padding-top: 300px;
	padding-left: 400px;;
}

#Exhibit-C {
	background: none;
}

.image-container-4 img{
	max-width: 100%;
	width: auto;
	height: auto; /* Maintain aspect ratio */
	padding-top: 300px;
	padding-left: 500px;;
}

.image-container-5 img{
	max-width: 100%;
	width: auto;
	height: auto; /* Maintain aspect ratio */
	padding-top: 300px;
	padding-left: 500px;;
}
	
.text-container {
	position: absolute; /* Position relative to .section-2 */
	width: 40%;
	background: none;
	padding: 0px;
	color: #ffffff;
	text-align: left;
}
	
.lead {
	/* Text-specific styles */
	margin: 0;
	padding: 10px 0;
	word-wrap: break-word;}

/* Section Content */
.section-title {
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translateY(-50%);
	color: white;
	font-size: 10em;
	line-height: 1.0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	transition: background-color 0.3s ease;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

.section-title span {
	display: block;
    transition: background-color 0.3s ease;}

.section-description {
	position: absolute;
	top: 78%;
	left: 2.2%;
	transform: translateY(-50%);
	color: white;
	font-size: 1.5em;
    line-height: 1.2;
	text-align: left;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}


h2.display-4 {
	font-size: 1.5rem;
	margin-bottom: 20px; /* Spacing after the title */
}
	
p.lead {
	font-size: 1rem; /* Larger font size for the paragraph */
	font-weight: 300; /* Lighter font weight for the paragraph */
}	
	

/* Style for the purple oval buttons */
.cta-button {
	background-color: #A020F0;
    color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
    font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
    display: inline-block;
	margin: 0 5px;
    transition: background-color 0.3s ease;}

/* Hover effect for the button */
.cta-button:hover {
	background-color: #7f1ae5;}

.cta-button-header {
	background-color: #A020F0;
	/* Purple color */
    color: white;
	position: absolute;
	top: 83%;
	left: 1.8%;
	border: none;
	padding: 10px 20px;
	border-radius: 50px;
    font-size: 2rem;
	cursor: pointer;
	text-decoration: none;
    display: inline-block;
	margin: 0 5px;
    transition: background-color 0.3s ease;
	}

/* Hover effect for the button */
.cta-button-header:hover {
	background-color: #7f1ae5;}

/* Possibilities arrow */
.explore-next-section {
	position: fixed; 
	bottom: 20px; 
	right: 20px; 
	font-size: 2em;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 20px;
	color: white;
	z-index: 10;
	text-shadow: 2px 2px 3px black;}

.explore-next-section:hover {
	color: #7f1ae5;}

.next-section-arrow {
	font-size: 2em;
    transition: transform 0.3s ease;
	color: white;
	text-decoration: none;
	min-width: 100px;}

.next-section-arrow:hover {
	transform: translateX(5px);}


/* Flying Car */
.moving-image {
	animation: moveAround 10s infinite;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%) scale(0.3);
	z-index: 1000; }

@keyframes moveAround {
	0% { top: 0; left: 0; }
	25% { top: 0; left: 120%; }
	50% { top: 100%; left: 120%; }
	75% { top: 100%; left: 0; }
	100% { top: 0; left: 0; }
}

.moving-image img {
	display: block; /* removes bottom space/line */
	max-width: 100%; /* ensures image is responsive */
	height: auto; /* maintains aspect ratio */
}
  


/* Scrollbar Styling */
/* Hide scrollbar for Webkit browsers */
.side-scroll::-webkit-scrollbar {
	display: none; /* This will hide the scrollbar completely */
}
/* Hide scrollbar by default */
.side-scroll::-webkit-scrollbar {
	display: none;
}
/* Show scrollbar on hover */
.side-scroll:hover::-webkit-scrollbar {
	display: block;
}
/* Hide scrollbar for Firefox */
.side-scroll {
	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for IE and Edge */
.side-scroll {
	-ms-overflow-style: none;  /* Internet Explorer and Edge */
}
  
/* Mobile and Tablet Styling */
/* Mobile */
@media only screen and (max-width: 768px) {
.navbar.navbar-expand-lg {
	top: 0;
	left: 0;
	transform: none;
	width: 100%;
	justify-content: space-around;}

.section-title {
	font-size: 5em; /* Smaller font size for mobile */
	left: 5%; /* Adjust positioning for smaller screens */
	top: 30%; /* Adjust vertical position */
}
  
.section-description {
	font-size: 1em; /* Smaller font size for mobile */
	top: 50%; /* Adjust vertical position */
	left: 5%; /* Adjust positioning for smaller screens */
}
	
.cta-button, .cta-button-header {
    font-size: 0.8rem; /* Smaller font size for mobile */
    padding: 8px 16px; /* Adjust padding for mobile */
	left: 7%;
	top: 70%;
}

.explore-next-section {
    font-size: 1.5em; /* Adjust font size as needed for mobile */
    bottom: 10px; /* Adjust bottom position for mobile */
    right: 10px; /* Adjust right position for mobile */
}

.next-section-arrow {
    font-size: 1.5em; /* Adjust arrow size as needed for mobile */
}
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.navbar.navbar-expand-lg {
	top: 0;
	left: 0;
	transform: none;
	width: 100%;
	justify-content: space-around;}
	
.section-title {
	font-size: 5em; /* Smaller font size for mobile */
	left: 5%; /* Adjust positioning for smaller screens */
	top: 30%; /* Adjust vertical position */
	}
	  
.section-description {
	font-size: 1em; /* Smaller font size for mobile */
	top: 50%; /* Adjust vertical position */
	left: 5%; /* Adjust positioning for smaller screens */
	}
		
.cta-button, .cta-button-header {
	font-size: 0.8rem; /* Smaller font size for mobile */
	padding: 8px 16px; /* Adjust padding for mobile */
	left: 7%;
	top: 70%;
	}
	
.explore-next-section {
	font-size: 1.5em; /* Adjust font size as needed for mobile */
	bottom: 10px; /* Adjust bottom position for mobile */
	right: 10px; /* Adjust right position for mobile */
	}
	
.next-section-arrow {
	font-size: 1.5em; /* Adjust arrow size as needed for mobile */
	}
}