/* Importing Google fonts - Open Sans, Kalni */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

/* Global styles */

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;}

body, html {
	background-image: url('../images/background_image.jpg'); /* Correct the path if necessary */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 105vh;
	/* Using viewport height for full height */
    overflow: hidden;
}
	

/* Navbar styles */
  .navbar.navbar-expand-lg {
	display: flex;
	justify-content: space-between;
	/* This will push the logo to the left and the nav links to the right */
    align-items: center;
	padding: 80px;
	width: 100%;
	/* Ensure the navbar spans the full width */
    box-sizing: border-box;
	/* This ensures padding is included in the width */
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	text-shadow: 2px 2px 3px black;
}

/* Style the dropdown button */
  .dropbtn {
	border-radius: 50px;}

/* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
	border-radius: 50px;}

/* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	top: 100%;
	left: 0;
	position:absolute;
	min-width: 140px;
	border-radius: 50px;
	z-index: 1;}

/* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 50px;
	text-align: left;}

/* Change color of dropdown links on hover */
  .dropdown-content a:hover {
	border-radius: 50px;}

/* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
	border-radius: 50px;}

/* Show the dropdown button with a background color on hover */
  .dropdown:hover .dropbtn {
	background-color: #A020F0;}

/* Style for the logo image */
  .logo img {
	max-height: 70px;
	/* Set the maximum height for logo */
    max-width: 200px;
	/* Set the maxium width for logo */}

.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	list-style: none;
	/* Ensure no bullets */
    margin: 0;
	/* Reset default margin */}

.navbar li {
	display: inline-block;
	margin-right: 20px;}

/* Adjusts the last nav item to remove extra margin */
  .navbar li:last-child {
	margin-right: 0;}

/* Navigation bar dynamic hide/show */
  .navbar.collapsed {
	padding: 0;
	display: flex;
	align-items: center;}

.navbar.collapsed ul {
	display: none;
	/* Hide the menu items when collapsed */}

.navbar.collapsed::after {
	content: attr(data-current-section);
	color: rgb(255, 255, 255);
	margin: 0 auto;}

/* You may also want to add styles for hover effects and other interactions */
  .navbar.collapsed:hover::after {
	color: #b4b2b2;
	/* Darker color on hover, adjust as needed */}

/* Link styles */
  .navbar li a {
	color: rgb(248, 248, 248);
	padding: 14px 16px;
	text-decoration: none;}

/* Hover effect for links */
  .navbar li a:hover {
	color: #b1adad;}

/* Responsive design adjustments for smaller screens */
  @media screen and (max-width: 800px) {
	.navbar.navbar-expand-lg {
	top: 0;
	left: 0;
	transform: none;
	width: 100%;
	justify-content: space-around;}

}

/* Styles for the side-scrolling sections */
  .side-scroll {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: calc(100% - 50px);}

/* Section styles */
  .section {
	display: inline-block;
	width: 3000px;
	height: 100%;
	padding: 20px;
	/* box-sizing: border-box; */
	vertical-align: top;
	position: relative;
	overflow: hidden;}

	/* Styles for sections */

.section-2, .section-3, .section-4 {
    position: relative; /* Needed for absolute positioning of child elements */
    padding: 20px;
	display: inline-block;
	width: 2200px;
	height: 100%;
	padding: 20px;
	/* box-sizing: border-box; */
	vertical-align: top;
	position: relative;
	overflow: hidden;
}

/* Styles for Circle */

.container-fluid {
	position: relative;
    min-height: 200px; /* Adjust this value based on the height of your navbar */
}


.circle {
	position: absolute;
	top: 200px;
	right: 50px;
	width: 500px;
	height: 500px;
	background-color: #04fff2; /* Bootstrap primary color */
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 20px;
}

.circle-text {
	text-align: center;
	font-size: 75px;
}

.circle-text span {
	display: block;
	/* This will stack the words vertically */
    transition: background-color 0.3s ease;}

/* Upper left corner styling */
.upper-left h2 {
    position: absolute;
    top: 125px;
    left: 20px;
	font-size: 50px;
	line-height: 2.0; /* Adjust line spacing */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

.upper-left p {
    position: absolute;
    top: 225px;
    left: 20px;
	font-size: 18px;
	line-height: 2.0; /* Adjust line spacing */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Lower right corner styling */
.lower-right {
    position: absolute;
    bottom: 250px;
    right: 0px;
	left: 1300px;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Title and paragraph specific styles */
.display-4, h2, .lead, p {
    margin: 0;
    padding: 5px;
    color: #ffffff; /* Adjust text color as needed */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Additional styling for titles */
.display-4, h2 {
    font-size: 1.5rem; /* Adjust title size as needed */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Additional styling for paragraphs */
.lead, p {
    font-size: 1rem; /* Adjust paragraph size as needed */
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}


/* Exihibition Sections */

	#Exhibit-A {
		background: none;
	  }
	
	.image-container-1 img{
		max-width: 100%;
		width: auto;
		height: auto; /* Maintain aspect ratio */
		padding-top: 300px;
		padding-left: 300px;;
	}

	.image-container-2 {
        position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		padding-left: 1400px;
		padding-top: 300px;
	}
	.image-container-2 img{
		max-width: 100%;
		width: auto;
		height: auto; /* Maintain aspect ratio */
	}
   
	  #Exhibit-B {
		background: none;
	  }

	  .image-container-3 img{
		max-width: 100%;
		width: auto;
		height: auto; /* Maintain aspect ratio */
		padding-top: 300px;
		padding-left: 500px;;
	}

	  #Exhibit-C {
		background: none;
	  }

	  .image-container-4 img{
		max-width: 100%;
		width: auto;
		height: auto; /* Maintain aspect ratio */
		padding-top: 300px;
		padding-left: 500px;;
	}

	.image-container-5 img{
		max-width: 100%;
		width: auto;
		height: auto; /* Maintain aspect ratio */
		padding-top: 300px;
		padding-left: 500px;;
	}
	
	.text-container {
		position: absolute; /* Position relative to .section-2 */
		width: 40%; /* Set a width for the container */
		background: none;
		padding: 0px; /* Spacing inside the container */
		/* Add text styles below */
		color: #ffffff;
		text-align: left;
	}
	
	.lead {
		/* Text-specific styles */
		margin: 0; /* Remove default margins */
		padding: 10px 0; /* Space between text lines */
		word-wrap: break-word;
		/* Add other text styles as needed */
	}
		

.title-hidden {
	display: none;}

/* This targets any section that is not Home and hides the h1 and h2 within it */
  .section:not(#Home) .section-title,
  .section:not(#Home) .section-description {
	display: none;
	position: absolute;
	top: 50%;
	/* Adjust as needed */
    left: 50%;
	/* Adjust as needed */
    transform: translate(-50%, -50%);
	z-index: 10;}

/* Section Content */
  .section-title {
	position: absolute;
	top: 55%;
	left: 2%;
	transform: translateY(-50%);
	color: white;
	font-size: 10em;
	/* Increase the font size */
    line-height: 1.0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	transition: background-color 0.3s ease;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

.section-title span {
	display: block;
	/* This will stack the words vertically */
    transition: background-color 0.3s ease;}

.section-description {
	position: absolute;
	top: 78%;
	left: 2.2%;
	transform: translateY(-50%);
	color: white;
	font-size: 1.5em;
    line-height: 1.2;
	text-align: left;
	text-shadow: 2px 2px 3px black; /* Add drop shadow */
}

/* Override for the text block to allow normal wrapping */
.side-scroll .upper-left, .lower-right{
    white-space: normal;
}


h2.display-4 {
	font-size: 1.5rem;
	text-shadow: 2px 2px 3px black;
	margin-bottom: 20px; /* Spacing after the title */
}
	
p.lead {
	font-size: 1rem; /* Larger font size for the paragraph */
	font-weight: 300; /* Lighter font weight for the paragraph */
}	
	

/* Style for the purple oval buttons */
  .cta-button {
	background-color: #A020F0;
	/* Purple color */
    color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	/* Gives the oval shape */
    font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	/* Remove underline from links */
    display: inline-block;
	margin: 0 5px;
	/* Spacing between buttons if necessary */
    transition: background-color 0.3s ease;
	/* Smooth background color change */}

/* Hover effect for the button */
  .cta-button:hover {
	background-color: #7f1ae5;
	/* Slightly darker purple on hover */}

.cta-button-header {
	background-color: #A020F0;
	/* Purple color */
    color: white;
	position: absolute;
	top: 83%;
	left: 1.8%;
	border: none;
	padding: 10px 20px;
	border-radius: 50px;
	/* Gives the oval shape */
    font-size: 2rem;
	cursor: pointer;
	text-decoration: none;
	/* Remove underline from links */
    display: inline-block;
	margin: 0 5px;
	/* Spacing between buttons if necessary */
    transition: background-color 0.3s ease;
	/* Smooth background color change */}

/* Hover effect for the button */
  .cta-button-header:hover {
	background-color: #7f1ae5;
	/* Slightly darker purple on hover */}

/* Possibilities arrow */
.explore-next-section {
	position: fixed; /* This ensures the element is fixed relative to the viewport */
	bottom: 20px; /* Adjust this value as needed to place it from the bottom */
	right: 20px; /* Adjust this value as needed to place it from the right */
	font-size: 2em; /* Adjust font size as needed */
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 20px;
	color: white;
	z-index: 10; /* Make sure it's above other elements */
	text-shadow: 2px 2px 3px black;
  }

.explore-next-section:hover {
	color: #7f1ae5;}

.next-section-arrow {
	font-size: 2em;
	/* Adjust as needed */
    transition: transform 0.3s ease;
	color: white;
	text-decoration: none;
	min-width: 100px;}

.next-section-arrow:hover {
	transform: translateX(5px);
	/* Arrow moves to the right on hover */}

.moving-image {
	animation: moveAround 10s infinite;
	position: absolute; /* or 'fixed' depending on your layout */
	top: 10px; /* adjust as needed to place above the navbar */
	left: 50%; /* centers the image horizontally */
	transform: translateX(-50%) scale(0.3); /* adjust scale value to resize */
	z-index: 1000; /* ensure it's above other elements */
}

  
  @keyframes moveAround {
	0% { top: 0; left: 0; }
	25% { top: 0; left: 120%; }
	50% { top: 100%; left: 120%; }
	75% { top: 100%; left: 0; }
	100% { top: 0; left: 0; }
}

.moving-image img {
	display: block; /* removes bottom space/line */
	max-width: 100%; /* ensures image is responsive */
	height: auto; /* maintains aspect ratio */
  }