/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
  margin: 0; }

/******************************************/
/******   SUPPORT Hero SECTION  *******/
.supportSection {
  background: url("../images/image2.jpg") no-repeat center center;
  background-size: cover;
  color: #543bdf;
  text-align: center; }

.navItemSupport nav-link {
  color: #0f0939; }

/**** --------- Header Section --------****/
header a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: #05b5c9 !important; }

.logo {
  width: auto;
  height: 30px; }

.nav-item {
  font-size: 20px !important;
  font-weight: bolder;
  color: #450eea; }

/* --- NAV  TAB ----*/
#nav-menu-btn {
  background-color: #0541a2;
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 3rem; }

#nav-menu-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #0c40d9;
  position: relative;
  top: -0.5rem; }

#nav-menu-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f2f4f7;
  position: relative;
  top: 0.4rem; }

/******   SUPPORT WEBPAGE SECTION  *******/
.dark {
  background: #362f45; }

.dark {
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  /* Center the content vertically */
  min-height: 10vh;
  /* Ensure the container takes at least the full height of the viewport */ }

.container {
  width: 80%;
  max-width: 1200px;
  /* Adjust the maximum width of the container as needed */ }

.article .postcard .dark .blue .container-2 {
  margin-top: 20px; }

.input-group {
  margin-top: 15px; }

.input-group-text {
  background-color: #145a6ef0;
  color: #fff;
  border: none; }

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out; }

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem; }

/********* Cards ***************/
.postcard {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  /*Set a specific width */
  max-width: 1200px;
  padding: 0 1rem;
  /* Adjust the padding to control the width */
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff; }
  .postcard.dark {
    background-color: #18151f; }
  .postcard.light {
    background-color: #e1e5ea; }
  .postcard .t-dark {
    color: #18151f; }
  .postcard a {
    color: inherit; }
  .postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2; }
  .postcard .small {
    font-size: 80%; }
  .postcard .postcard__title {
    font-size: 1.75rem; }
  .postcard .postcard__img {
    max-height: 100%;
    width: 100%;
    object-fit: fill;
    position: relative; }
  .postcard .postcard__img_link {
    display: contents; }
  .postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease; }
  .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column; }
  .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%; }
  .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center; }
    .postcard .postcard__tagbox .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s; }
      .postcard .postcard__tagbox .tag__item:hover {
        background: rgba(83, 83, 83, 0.8); }
  .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px; }
  .postcard:hover .postcard__bar {
    width: 100px; }

/********** Responsive  *************/
@media (max-width: 1200px) {
  .supportSection {
    background-position: 50% 50%; } }
/* Tablet Styles */
@media screen and (max-width: 768px) {
  .dark {
    padding: 0.5rem; } }
/* Phone Styles */
@media screen and (max-width: 576px) {
  .dark {
    padding: 0.2rem; } }
@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit; }
    .postcard .postcard__title {
      font-size: 2rem; }
    .postcard .postcard__tagbox {
      justify-content: start; }
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease; }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%; }
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px; }
    .postcard:hover .postcard__img {
      transform: scale(1.1); }
    .postcard:nth-child(2n+1) {
      flex-direction: row; }
    .postcard:nth-child(2n+0) {
      flex-direction: row-reverse; }
    .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg); }
    .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg); } }
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem; }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px; }

  .postcard.dark .postcard__text:before {
    background: #18151f; }

  .postcard.light .postcard__text:before {
    background: #e1e5ea; } }
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black; }

.green .postcard__title:hover {
  color: #79dd09; }

.green .postcard__bar {
  background-color: #79dd09; }

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%); }

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%); }

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd; }

.blue .postcard__title:hover {
  color: #0076bd; }

.blue .postcard__bar {
  background-color: #0076bd; }

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%); }

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%); }

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b; }

.red .postcard__title:hover {
  color: #bd150b; }

.red .postcard__bar {
  background-color: #bd150b; }

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%); }

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%); }

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black; }

.yellow .postcard__title:hover {
  color: #bdbb49; }

.yellow .postcard__bar {
  background-color: #bdbb49; }

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%); }

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%); }

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%); }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%); }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%); }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%); }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%); }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%); }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%); }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%); } }
/************  FOOTER SECTION ****************/
/************  FOOTER SECTION ****************/
.footer {
  width: 100%;
  margin: 0;
  background: #10182F;
  border-radius: 6px;
  padding: 2px;
  height: 300px; }

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 20px; }

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0; }

.footer-col .links {
  margin-top: 20px;
  justify-content: left; }

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px; }

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
  margin: 0; }

.footer-col .links li a:hover {
  color: #fff; }

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
  text-align: justify; }

.footer-col form {
  display: flex;
  gap: 5px; }

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px; }

.footer-col input::placeholder {
  color: #ccc; }

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  font-size: 14px; }

.footer-col form button:hover {
  background: #cecccc; }

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer; }

.footer-col .icons i {
  color: #afb6c7; }

.footer-col .icons i:hover {
  color: #fff; }

/* Responsive styles for smaller screens (max-width: 760px) */
@media screen and (max-width: 995px) {
  .footer {
    height: auto;
    /* Adjust the height for smaller screens */ }

  .footer .footer-row {
    flex-direction: column;
    gap: 1.5rem;
    padding: 10px; }

  .footer-row .footer-col {
    flex: 1 1 100%; }

  .footer-col .icons {
    margin-top: 15px; } }
/*****************BUTTONs *******************/
.button-22 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.button-22:focus {
  outline: 0; }

.button-22:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px); }

.button-22:hover:after {
  bottom: 2px;
  left: 2px; }

@media (min-width: 768px) {
  .button-22 {
    padding: .75rem 3rem;
    font-size: 1.25rem; } }

/*# sourceMappingURL=support.css.map */
